name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          run_install: false
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm --version
      - run: pnpm check
      - run: pnpm build
      - run: pnpm test
        env:
          FIRECRAWL_API_KEY: test
          LINEAR_API_KEY: test
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          run_install: false
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm --version
      - run: pnpm check
      - run: pnpm build
      - run: pnpm test
        env:
          FIRECRAWL_API_KEY: test
          LINEAR_API_KEY: test
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          run_install: false
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm --version
      - run: pnpm check
      - run: pnpm build
      - run: pnpm test
        env:
          FIRECRAWL_API_KEY: test
          LINEAR_API_KEY: test
